<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936679367413-dumn1m157jl9bo137b012krkkcccvk84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936679367413-dumn1m157jl9bo137b012krkkcccvk84</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>936679367413-pud74aome41jvnt7dmhtghc3nq207knq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaMb0fMXQEPU3kOpL2bwHp4phGuZSrxbM</string>
	<key>GCM_SENDER_ID</key>
	<string>936679367413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.fcmNotification</string>
	<key>PROJECT_ID</key>
	<string>fcmflutter-c0dea</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmflutter-c0dea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936679367413:ios:5e79a32d2535b2b2a51bbc</string>
</dict>
</plist>